body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #cae5ff;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #136fcb;
}

.subtitulo {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background: #599adb;
    border-radius: 8px;
}
